body {
	margin: 0px 10px 10px;
	background: #330000;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #333333;
	margin-top: 0px;
	margin-right: 45px;
	margin-left: 20px;
}
h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #660000;
	font-weight: normal;
	margin-top: 15px;
}
h1 {
	font-family: Impact, "Arial Narrow", sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	color: #330000;
	letter-spacing: 1px;
	word-spacing: 5px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #BAA185;
	margin-top: 0px;
}

.copyright {
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	padding-top: 10px;
	border-top: 1px dashed #999999;
}


#wrapper {
	width: 850px;
	margin: 0 auto;
	background: #330000;
}
#wrapperhome {
	width: 1000px;
	margin: 0 auto;
}
#sidebar .smallprint {
	font-size: 10px;
}
#sidebar .natEx {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 50px;
	margin-bottom: 15px;
}
#main {
	padding-left: 40px;
	padding-top: 35px;
	width: 808px;
	background: #D3C2AB;
	padding-bottom: 20px;
	float: left;
	margin: 0px auto;
}
#mainhome {
	background: #D3C2AB url(assets/middle14.png) no-repeat left top;
	height: 473px;
	width: 1000px;
	float: left;
}
#banner {
	background: #EEE url(assets/2ndheader.jpg) no-repeat;
	border-bottom: #000000;
	top: 10px;
	zoom: 1;
	height: 200px;
}
#bannerhome {
	background: url(assets/top14.png) no-repeat left top;
	height: 260px;
	float: left;
}
#banner img {
	display: inline;
}



#sidebar {
	float: left;
	width: 175px;
	padding-top: 25px;
}
#sidebar h2 {
	color: #333333;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 15px;
	padding-left: 5px;
	margin-top: 0px;
}
br.clear {
	clear: both;
	height: 0px;
}
#sidebar p {
	padding-right: 7px;
	padding-left: 7px;
	line-height: normal;
	font-size: 12px;
	margin: 10px 0 10px 0;
}
img  {
	border-style: none;
}
a {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: #CC3300;
	text-decoration: none;
}
.photoRight {
	float: right;
	border: 2px solid #000000;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
}
.photoLeft {
	float: left;
	border: 2px solid #000000;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 20px;
}
h3 {
	font-size: 16px;
	margin-top: -10px;
	margin-bottom: 10px;
}
#shows p {
	font-size: 14px;
	line-height: 18px;
	margin-top: -12px;
	margin-bottom: 10px;
}
#shows {
	padding-top: 8px;
}
#trailer {
	margin-left: 500px;
	margin-top: 40px;
}
#mamet {
	color: #FFFFFF;
	width: 355px;
	margin-top: 250px;
	float: left;
	margin-left: -40px;
	margin-right: -10px;
}
#mamet p {
	color: #CCCCCC;
	font-size: 14px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#bottom {
	height: 463px;
	background: url(assets/bottom.png);
	clear: both;
	font-size: 16px;
}
#bottom h1 {
	padding: 20px 200px 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: none;
	font-weight: bold;
	color: #461417;
	border-style: none;
	font-size: 18px;
	font-style: italic;
	line-height: 2.3ex;
}
#bottom p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #461417;
	margin: 0px;
	padding: 0px 200px;
	font-weight: bold;
	line-height: 2.5ex;
}
#bottom img {
	margin-left: 140px;
}
.biobold 
  {
	font-weight: bold;
	color: #330000;
}
#banner  p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	margin-left: 580px;
	margin-right: 40px;
	font-weight: bold;
	color: #330000;
	padding-top: 40px;
	line-height: 1.3em;
	}
.mamet {
	font-size: 12px;
	font-style: normal;
}
s